*
!alacritty/
!alacritty/*
!albert/
!albert/*
!ardour6/
!ardour6/*
# !aseprite/
# !aseprite/*
!autostart/
!autostart/*
!bleachbit/
!bleachbit/*
!blender/
!blender/*
!bottom/
!bottom/*
!brasero/
!brasero/*
!cataclysm-dda/
!cataclysm-dda/*
!catfish/
!catfish/*
# vscode's flags
!code-flags.conf
!containers
!containers/*
!dconf/
!dconf/*
!doom
!doom/*
!doom-vitalyr
!doom-vitalyr/*
!emacs
!emacs/*
!etc
!etc/*
!fcitx5
!fcitx5/*
!Flutter
!Flutter/*
!fish
!fish/*
!fontconfig
!fontconfig/*
!gconf
!gconf/*
!go
!go/*
!godot
!godot/*
!hypr
!hypr/*
!input_method
!input_method/*
!justfile
!kitty
!kitty/*
!make
!mako/
!mako/*
!microsoft-edge-dev-flags.conf
!misc/
!misc/*
!mpv/
!mpv/*
!nushell/
!nushell/*
!org-dev/
!org-dev/*
!paru/
!paru/*
!patches
!patches/*
!rio/
!rio/*
!sccache/
!sccache/*
!sway/
!sway/*
!vim/
!vim/*
!warp/
!warp/*
!wofi/
!wofi/*
!zed/
!zed/keymap.json
!zed/settings.json
!zoxide/
!zoxide/*
!bochsrc.disk
!build-redox.sh
!build_taichi.sh
!chrome-flags.conf
!electron-flags.conf
!mimeapps.list
!qt5ct/
!qt5ct/*
!qt6ct/
!qt6ct/*
!README.md
!restart-pipewire.sh
!setup-agda.sh
!setup-idris-and-idris2.sh
!setup-new-desktop.sh
!setup-new-desktop-guide.sh
!.gitignore
!.gitmodules
!.pam_environment
!.profile
!.wine/
!.wine/*
!xiangshan_set_env.sh
!xiangshan_unset_env.sh
!yakuakerc
!ysyx_set_env.sh
!ysyx_unset_env.sh

**/elpa/**
**/eln-cache/**
*.log
*.dump

!.global-gitignore
