*
*.log
!alacritty/
!albert/
!ardour6/
!aseprite/
!autostart/
!bleachbit/
!blender/
!bottom/
!brasero/
!cataclysm-dda/
!catfish/
# vscode's flags
!code-flags.conf
!containers/
!dconf/
!doom/
!emacs/
!etc/
!fcitx5/
!flutter/
!fish/
!fontconfig/
!gconf/
!go/
!input_method/
!justfile
!mako/
!microsoft-edge-dev-flags.conf
!misc/
!nu/
!paru/
!private-data/
!sway/
!vim/
!wofi/
!bochsrc.disk
!build-redox.sh
!build_taichi.sh
!chrome-flags.conf
!electron-flags.conf
!mimeapps.list
!qt5ct
!README.md
!restart-pipewire.sh
!setup-agda.sh
!setup-idris-and-idris2.sh
!setup-new-desktop.sh
!setup-new-desktop-guide.sh
!.gitignore
!.gitmodules
!.pam_environment
!.profile
!xiangshan_set_env.sh
!xiangshan_unset_env.sh
!yakuakerc
!ysyx_set_env.sh
!ysyx_unset_env.sh


**/elpa/**
**/eln-cache/**
doom/config.el
doom/packages.el
doom/init.el
