/*
*.log
!alacritty/
!albert/
!ardour6/
!aseprite/
!autostart/
!bleachbit/
!blender/
!bottom/
!brasero/
!cataclysm-dda/
!catfish/
!cef_user_data/
!chromium/
!containers/
!dconf/
!doom/
!emacs/
!fcitx5/
!flutter/
!fish/
!fontconfig/
!gconf/
!go/
!gtk-2.0/
!gtk-3.0/
!gtk-4.0/
!input_method/
!mako/
!microsoft-edge-dev-flags.conf
!misc/
!nu/
!paru/
!private-data/
!sway/
!vim/
!wofi/
!bochsrc.disk
!build-redox.sh
!chrome-flags.conf
!electron-flags.conf
!mimeapps.list
!qt5ct
!README.md
!restart-pipewire.sh
!setup-agda.sh
!setup-idris-and-idris2.sh
!setup-new-desktop.sh
!setup-new-desktop-guide.sh
!.gitignore
!.gitmodules
!.pam_environment
!.profile
