[submodule "emacs/spacemacs"]
	path = emacs/spacemacs
	url = https://github.com/syl20bnr/spacemacs
[submodule "emacs/chemacs"]
	path = emacs/chemacs
	url = https://github.com/plexus/chemacs
[submodule "gnome/PaperWM"]
	path = gnome/PaperWM
	url = git@github.com:paperwm/PaperWM.git
[submodule "input_method/plum"]
	path = input_method/plum
	url = https://github.com/rime/plum.git
[submodule "emacs/emacs.d-doom"]
	path = emacs/emacs.d-doom
	url = https://github.com/hlissner/doom-emacs
[submodule "emacs/chemacs2"]
	path = emacs/chemacs2
	url = git@github.com:plexus/chemacs2.git
[submodule "emacs/profiles/ksqsf"]
	path = emacs/profiles/ksqsf
	url = git@github.com:ksqsf/emacs-config.git
